body {
	background-color: #DFD9D9;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #acacac;
	border-radius: 0;
	height: 70px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: black;

}

.navbar-brand h1 {
	margin: 5px 0 0 0;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	color: #000;
	font-weight: bold;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

/* Botao oculto*/
.center {
  position: relative;
  display: unset;
  font-size: 1.5em;
  padding: 10px 15px;
  font-weight: bolder;
}

.navbar-default {
	color: black;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}
/* Botao oculto fim*/

/* Fim do cabecalho */

/* Home page*/
* {
  box-sizing: border-box;
}

.quadro {
  border: 1px solid black;
  background-color: #999999;
  width: 100;
  height: 100%;
  border: 12px;
  border: 2px solid black;
  margin-bottom: 20px;
  margin-right: 5px; 
  margin-left: 5px;
}

p {
  padding: 20px;
  color: black;
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: justify;
}

h1 {
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 3px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

